.login {
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    bottom: 300px;

}

.register {
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    bottom: 274px;
}

